<div class="d-flex justify-content-center align-item-center">
  <h3>Photo Compare App</h3>
</div>

<div class="row">
  <div
    class="col-xl-2 col-lg-3 col-md-6 col-sm-12"
    *ngFor="
      let photo of photos | paginate: { itemsPerPage: 12, currentPage: p }
    "
  >
    <div class="border border-info">
      <div class="col">
        <img src="{{ photo.url }}" [alt]="photo.title" width="50" height="50" />
      </div>
      <div class="col">{{ photo.title }}</div>
      <div class="col">{{ photo.id }}</div>
      <div class="col">{{ photo.url }}</div>
      <div class="col">
        <button
          *ngIf="!photo.flags"
          (click)="addCompareTable(photo.id)"
          class="btn btn-primary"
        >
          Compare
        </button>
      </div>
      <div class="col">
        <button
          *ngIf="photo.flags"
          (click)="removeCompareTable(photo.id)"
          class="btn btn-primary"
        >
          Remove
        </button>
      </div>
    </div>
  </div>
</div>
<br />
<pagination-controls
  class="d-flex justify-content-center align-item-center"
  (pageChange)="p = $event"
></pagination-controls>
<br />
<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">ID</th>
        <th scope="col">URL</th>
        <th scope="col">Title</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let photo of compareTable">
        <th scope="row">
          <img src="{{ photo.url }}" alt="" width="20" height="20" />
        </th>
        <td>{{ photo.id }}</td>
        <td>{{ photo.url }}</td>
        <td>{{ photo.title }}</td>
      </tr>
    </tbody>
  </table>
</div>
